<h1>商品一覧</h1>   <h3><%= link_to "",  new_admin_item_path, class: 'fas fa-plus' %></h3>
<div class="col-sm-6">

<table class="table">
  <thead class="thead-light">
  <tr>
    <th>商品ID.</th>
    <th>商品名.</th>
    <th>税抜き価格.</th>
    <th>ジャンル.</th>
    <th>ステータス.</th>
  </tr>
  </thead>
    <tbody>
       <% @item.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, admin_item_path(item.id) %></td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td><% if item.is_active == true then %>
        販売中
        <% else %>
        販売停止中
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>