<h2>商品詳細</h2>

<table>
         <div class="col-sm-1">
        <%= attachment_image_tag @item, :image, format: "jpeg", fallback: "no_image.jpg", size: "100x100" %>
         </div>

        <tr>商品名 <%= @item.name %></tr></br>
        <tr>商品説明 <%= @item.introduction %></tr></br>
        <tr>ジャンル <%= @item.genre.name %></tr></br>
        <tr>税込み価格 <%= (@item.price * 1.1).floor %>円</br>
            税抜き価格 <%= @item.price %>円</tr></br>
        <tr>販売ステータス <% if @item.is_active == true then %>
        販売中
        <% else %>
        販売停止中
        <% end %>
        </tr>



</table>

<%= link_to '編集する', edit_admin_item_path(@item.id), class: 'btn btn-success' %>