<h5>マイページ</h5>

<%= form_with model: @customer, url:customers_mypage_edit_path, local:true do |f| %>
<div class="form-group">
  <label><strong>登録情報</strong><%= link_to "編集する", customers_mypage_edit_path %></label>

    <li>氏名  <%= @customer.last_name %> <%= @customer.first_name %></li>
    <li>カナ  <%= @customer.last_name_kana %> <%= @customer.first_name_kana %></li>
    <li>郵便番号  <%= @customer.postal_code %></li>
    <li>住所  <%= @customer.address %></li>
    <li>電話番号  <%= @customer.telephone_number %></li>
    <li>メールアドレス  <%= @customer.email %></li>
</div>
<!--配送先、注文履歴も後で作成-->
<% end %>

